/* Styling for creating a centered box with a button */
body {
    background-color: rgb(125, 182, 230);
    margin: 0px;
    padding: 0px;
    height: 3000px;
}
.container {
    margin: 20px;
    background-color: rgb(101, 207, 221);
    height: 5%;
    padding: 20px;                               /*the space around the text will decrese or increase*/
    border-radius: 10px;                         /*make the bourder carvedat the corner*/
    text-align: center;                          /*make the text in the center,left,right*/
}
.button {
    background-color: #a75353a2;
    color: black;
    border: none;                                 /*make the border also take the border*/
    padding: 10px 50px;
    margin: 20px;
    font-size: 16px;
    border-radius: 5px;
}
#second{
    margin-top: 10px;
    padding: 20px;
}